[submodule "references/cpython"]
	path = references/cpython
	url = https://github.com/python/cpython.git
[submodule "references/leanSpec"]
	path = references/leanSpec
	url = https://github.com/leanEthereum/leanSpec.git
[submodule "references/pydantic"]
	path = references/pydantic
	url = https://github.com/pydantic/pydantic.git
